.header {
    background-color: #ff8000;
    color: white;
    padding: 10px;
    height: 100px;
}

.header img {
    height: 80px;
}

.main-section {
    display: flex;
    flex-direction: row;
}

.orange {
    color: #ff8000;
    font-weight: bold;
}

#order-confirmation {
    display: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.order-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
}