@media (max-width: 1200px) {
    .menu {
        width: 100%;
    }

    .section-head img {
        margin-left: 0;
    }

    .menu-item {
        margin-left: 0;
    }
}

@media (max-width: 1155px) {
  .menu-item button {
    width: 220px;
    height: 39px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

    .section-head img {
        height: 150px;
    }

    .menu img {
        height: 200px;
    }
}

@media (max-width: 950px) {
    .menu img {
        height: 150px;
    }
}

@media (max-width: 715px) {
    .menu-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

@media (max-width: 420px) {
    .category-button {
        font-size: 16px;
        padding: 8px;
    }

    .categories {
        gap: 8px;
        flex-wrap: wrap;
    }
}